.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: min-content;
  width: 100vw;
}

.accordian {
  height: 80%;
  width: 50%;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: #ffff;
  height: auto;
}

.selectBtn {
  padding: 10px 20px;
  background-color: #614101;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.mlctBtn {
  background-color: #281b02;
}
