.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 1.5rem;

  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  h1 {
    margin: 0;
    font-size: 1.75rem;
    color: #f7e596;
  }
}
