.managementSidebar {
  background-color: var(--stone-900);
  color: var(--stone-600);
  width: 33%;
  padding: 2rem 3rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
}

.managementSidebar h2 {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .managementSidebar {
    width: 18rem;
  }
}
