.NewGoal {
  label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #dfd9be;
  }

  input {
    font: inherit;
    width: 100%;
    padding: 0.5rem;
    background-color: #b4b6c4;
    border: none;
    border-radius: 4px;
  }

  button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #f7e596;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-weight: bold;
    color: #3a4346;
    cursor: pointer;
  }
}
