.newProject {
  width: 35rem;
  margin-top: 3rem;
}

.newProject menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}

.newProject button {
  border: none;
}

.cancelBtn {
  color: var(--stone-950);
  color: var(--stone-800);
}

.saveBtn {
  padding: 0.5rem 2rem;
  border-radius: 4px;
  background-color: var(--stone-800);
  color: var(--stone-50);
}

.saveBtn:hover {
  background-color: var(--stone-950);
}
