.newProject {
  margin-top: 3rem;
}

.newProject menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}

.cancelBtn {
  color: var(--text-stone-800);
}

.cancelBtn:hover {
  color: var(--text-stone-950);
}

.saveBtn {
  background-color: var(--bg-stone-800);
  color: var(--text-stone-50);
}

.saveBtn:hover {
}
