.Goal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #b1c1c3;
  }

  p {
    margin: 0;
    font-size: 0.85rem;
    color: #dfd9be;
  }

  button {
    font: inherit;
    padding: 0 0.5rem;
    background: transparent;
    border: none;
    color: #909a9a;
    cursor: pointer;
  }

  button:hover {
    color: #f9a73b;
  }
}
